<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The app requests no network, mapping, GPS, or device-location permissions. -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pantry"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartPantry">
        <!-- Secondary activities receive selected data through explicit Intents. -->
        <activity
            android:name=".ui.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddEditIngredientActivity"
            android:exported="false" />
        <!-- MainActivity is the launcher and hosts the bottom-navigation fragments. -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
